
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}
ul{
	margin: 0;
	padding: 0;

}
.shift li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

ul li{
    color: white;
    background-color: #0000FF;
    margin: 2px;
    border: #f4f4f4;
}

button{
    background-color: #0000FF;
    float: right;

}

.move{
    float: right;
}
th{
    background-color: #0000FF;
    margin: 2px;
}
.color{
    background-color: #0000FF;
}